body{
    display: flex;
    justify-content: center;
    margin: 20px;
}


.btn-modern{
width: fit-content;
padding: 10px;
border: 1px solid rgb(202, 198, 198);
border-radius: 10px;

}

.btn-modern:hover{
transform: translateY(-5px);
box-shadow: 2px 4px 5px rgb(173, 173, 173);
background-color: rgb(175, 174, 174);
color: white;
transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}